* {
    border: none;
    border-radius: 0;

    font-family: Iosevka Nerd Font Propo;
    font-size: 13px;
    font-weight: 500;

    transition-timing-function: ease-out;
}

#waybar {
   background-color: transparent;
   color: @fg;
}

#waybar > box {
   background-color: @bg;
   border-bottom: 1px solid darker(@bg-opaque);
}

.module {
   color: @fg;
   margin: 0 3px;
}

#custom-sep {
    margin: 0 6px;
}
