@import url('../../resources/css/colors-gtk.css');

* {
    font-family:    Iosevka;
    font-size:      13px;
}

window {
    background-color: transparent;
}

#text {
    color: @fg;
}

#outer-box {
    background-color: @bg;
}

#scroll {
    padding: 4px;
    padding-top: 2px;
}

#input {
    color: @accent;
    padding: 2px 10px 0;
    background-color: transparent;
    border: none;
}

#input:focus {
    box-shadow: none;
}

#input * {
    color: @accent;
}

#entry {
    margin-top: 2px;
    padding: 3px 6px;
    border: 1px solid transparent;
    border-radius: 2px;
    outline: none;
}

#entry:selected {
    background-color: alpha(darker(@accent), 0.75);
    border-color: @accent;
    outline: none;
}

#img {
    margin-right: 6px;
    -gtk-icon-shadow: 0 0 2px alpha(black, 0.3);
}
